<vm-player controls>
  <vm-hls version="latest" [config]="hlsConfig" poster="/media/poster.png">
    <source data-src="http://live.canaloncelive.tv:1935/livepkgr/smil:nacional.smil/playlist.m3u8" type="application/x-mpegURL" />
  </vm-hls>
  <!-- ... -->
</vm-player>